input[type=checkbox] {
    position:absolute;
    clip: rect(0,0,0,0);
}

#cells label {
    background:white;
    display:block;
    float:left;
    font-size:100px;
    height:100px;
    line-height:1;
    outline:1px solid #ccc;
    overflow:hidden;
    padding:10px 20px;
    width:80px;
}

#cells label:nth-of-type(3n + 1) {
    clear:left
}

input:checked + label:before {
    color: #F38630;
    content: "X";
}

input:not(:checked) + label:before {
    color: #69D2E7;
    content: "O";
}

input:indeterminate + label:before {
    content: " ";
}

.askname {
    height:150px;
}

.group        {
    position:relative;
    margin-bottom:45px;
}
.group input         {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
}
.group input:focus     { outline:none; }

/* LABEL ======================================= */
.group label          {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
}

/* active state */
.group input:focus ~ label, .group input:valid ~ label     {
    top:-20px;
    font-size:14px;
    color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
    from  { background:#5264AE; }
    to    { width:0; background:transparent; }
}
