<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-pink.min.css"/>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Play Tick-Tac-Toe!</span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>

    <main class="mdl-layout__content">
        <div class="page-content">
            <form class="form-inline" action="#" th:action="@{/}" th:object="${player}" method="post">
                <div class="group">
                    <input type="text" required="required" th:field="*{name}"/>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Please introduce your name:</label>

                </div>
                <div id="buttons">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Submit</button>
                    <button type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Reset</button>
                    <a href="/showscores" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">View Scores</a>
                </div>
            </form>
        </div>
    </main>
</div>
</body>
</html>