<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-pink.min.css"/>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/js/init.js" />

    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Play Tick-Tac-Toe!</span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <h2>Top Scores Tables</h2>
            <table>
                <tr th:each="element : ${scoreList}">
                   <td><h3 th:text="${element.key}">Key</h3></td>
                    <table>
                        <tr th:each="score : ${element.value}">
                            <td><h4 th:text="${score}">Score</h4></td>
                        </tr>
                    </table>
                </tr>
            </table>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="javascript:history.back()">Go Back</a>
        </div>
    </main>
</div>
</body>
</html>
